<.header>
  Editar dados do Paciente <%= @paciente.nome %>
  <:subtitle>Altere os campos desejados abaixo:</:subtitle>
</.header>

<.paciente_form changeset={@changeset} action={~p"/pacientes/#{@paciente}"} />

<.back navigate={~p"/pacientes"}>Voltar para lista de pacientes</.back>
