<.header>
  Novo(a) Medico(a)
  <:subtitle>Preencha os campos abaixo</:subtitle>
</.header>

<.medico_form changeset={@changeset} action={~p"/medicos"} />

<.back navigate={~p"/medicos"}>Voltar para lista de Médicos</.back>
